@using EntityLayer.Concrete
@model List<Feature>

    
<div class="best-rooms py-5">
    <div class="container py-md-5">
        <div class="ban-content-inf row">

            @foreach (var item in Model)
            {

                <div class="maghny-gd-1 col-lg-6">
                    <div class="maghny-grid">
                        <figure class="effect-lily border-radius  m-0">
                            <img class="img-fluid" src="@item.Image" alt="" />
                            <figcaption>
                                <div>
                                    <h4>@item.Title </h4>
                                    <p>@item.Desccription TL </p>
                                </div>

                            </figcaption>
                        </figure>
                    </div>
                </div>
                break;
            }


            <div class="maghny-gd-1 col-lg-6 mt-lg-0 mt-4">
                <div class="row">
                    @{ int sa = 0;
                        string css = "";
                        foreach (var item in Model.Skip(1))
                        {
                            sa++;
                            if (sa>2)
                            {
                                css = "mt-4";
                            }
                        <div class="maghny-gd-1 col-6 @css">
                            <div class="maghny-grid">
                                <figure class="effect-lily border-radius">
                                    <img class="img-fluid" src="@item.Image" alt="" />
                                    <figcaption>
                                        <div>
                                            <h4>3Days, 4 Nights</h4>
                                            <p>@item.Desccription TL</p>
                                        </div>

                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                            }
                        }
                </div>
            </div>
        </div>
    </div>
</div>